/* You can add global styles to this file, and also import other style files */


body{
  background-color:darkgray ;/**/
}

.col-md-1{
  padding: 0;
  width:24px;
}

h1{
  text-align: center;
}

#app-grille{
  margin: auto;
  text-align:center;
}
